<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/head.ejs") %>
</head>

<body>
  <header>
    <%- include ("../partials/header.ejs") %>
    <%- include ("../partials/nav.ejs") %>
  </header>
  <main>
      <h1 class="center">Packages</h1>
    <div class="container">
      <div class="row">
        <% result.forEach(function(result) { %>
          <div class="col-md-4 indPackage">
          <div id='packageImg'>
            <img class='img-responsive' src='<%= result.packageimg %>' alt='"Image of " + <%= result.packagename %> + " on hannahmacphotography.com"' id='packageImg'>
          </div>
          <hr id="packageID">
          <h2 class="packageNames"><%= result.packagename %></h2>
          <h3><span class="formatCurrency"><%= result.packageprice %></span></h3>
          <h3>Hours: <%= result.packagehours %></h3>
          <h3>Locations (optional): <%= result.packagelocationcount %><h3>
          <p><%= result.packagedescription %></p>
        </div>
        <% }); %>
      </div>
    </div>
  </main>
  <footer class="footer">
    <%- include ("../partials/footer.ejs") %>
  </footer>
</body>

</html>