<head>
    <%- include ("../partials/head.ejs") %>
  </head>
  
  <body>
    <header>
      <%- include ("../partials/header.ejs") %>
      <%- include ("../partials/nav.ejs") %>
    </header>
    <main>
        <h1 class="center">Package Management</h1>
        
        <div class="center">
          <br><br><a class="btn btn-primary" href="/add-package" title="View the add package page">Add Package</a>
        </div>
        
        <br><br><h3 class="center">Update Packages</h3>
        
        <table class="table table-striped" id="inventoryDisplay">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Package Name</th>
              <th> </th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <% result.forEach(function(result) { %>
              <tr>
                <td><%= result.packagename %></td>
                <td><a class="btn btn-primary" href= '/update-package/<%=result.packageid%>' title='View the update package page'>Modify</a></td>
                <td><a class="btn btn-danger" href= '/delete-package/<%=result.packageid%>' title='View the delete package page'>Delete</a></td>
              </tr> 
            <% }); %>
          </tbody> 
        </table>

    </main>
    <footer class="footer">
      <%- include ("../partials/footer.ejs") %>
    </footer>
  </body>
  
  </html>